@using NPA.WEB.Models
@{
    string baseUrl = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"];
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>AngularJS Application</title>

    <script src="~/Scripts/require.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ng-file-upload")
 

    <base href="@baseUrl" />

</head>
<body ng-app="npaAngularJS" ng-controller="masterController as vm" ng-init="vm.initializeController()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="Home/Index">Home</a></li>
                    <li><a href="Persons/PersonInquiry">People</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AngularJS Application</p>          
        </footer>
    </div>


    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/routing")

    @RenderSection("scripts", false)

</body>
</html>
